@import "../../variables";
.animated-banner {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $primary-rgb;
  background: $gradient;
  color: $white-0;
  padding: 0;
  @include box-shadow;
  animation: slideDown 0.5s ease-out;
  z-index: 999;
  width: 100%;

  .text {
    color: $white-0;
    font-size: $font-size2;
  }
}

.register-button {
  background: "transparent";
  border-radius: 0;
  border: 1.5px solid #ffffff !important;
  color: "#FFFFFF";
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .animated-banner {
    padding: 0;

    button {
      font-size: $font-size5;
    }

    span {
      font-size: $font-size5;
    }

    .text {
      font-size: $font-size4;
    }
  }

  .animated-banner .ant-row > .ant-col {
    @include align-center;
    flex-direction: column;
  }
}
