.carousel-container {
  width: 100%;
  margin: 20px auto;

  @media screen and (min-width: 992px) {
    width: 80%;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background: transparent;
  padding: 10px;
  transition: transform 0.3s ease-in-out;

  .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    .review-text {
      min-height: 120px;
      font-size: 15px;
      font-style: oblique;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      color: rgba(0, 0, 0, 0.65);
    }

    h4 {
      padding: 0;
      height: 55px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.88);
    }

    .star-cont {
      background: rgba(250, 173, 20, 0.15);
      width: 60px;
      height: 22px;
      line-height: 22px;
      border-radius: 10px;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      color: rgba(0, 0, 0, 0.88);

      .anticon {
        color: #fadb14;
        margin-right: 5px;
        margin-top: 4px;
      }
    }
  }
}

.slick-dots {
  align-items: center;
  bottom: -25px !important;

  li {
    button {
      background-color: rgba(71, 23, 157, 1) !important;
      &:focus,
      &:active {
        background-color: rgba(23, 149, 232, 1) !important;
      }
    }
    &.slick-active {
      button {
        background-color: rgba(23, 149, 232, 1) !important;
      }
    }
  }
}