@import "../../variables";

.carousel-container {
  width: 100%;
  margin: 20px auto;

  @media screen and (min-width: 992px) {
    width: 80%;
  }
}

.slide {
  @include align-center;
  height: auto;
  background: transparent;
  padding: 10px;
  transition: transform 0.3s ease-in-out;

  .review-card {
    flex-direction: column;
    border-radius: 10px;
    background-color: $white-0;
    @include box-shadow;
    transition: transform 0.3s ease-in-out;

    .review-text {
      min-height: 140px;
      font-size: $font-size4;
      font-style: oblique;
      @include align-center;
      margin: 0;
      color: $black-3;
    }

    h2 {
      padding: 0;
      height: 55px;
      margin: 0;
      @include align-center;
      color: $black-1;
      font-size: $font-size4;
    }

    .star-cont {
      background: $star-background;
      width: 60px;
      height: 22px;
      line-height: 22px;
      border-radius: 10px;
      margin: 0 auto;
      color: $black-1;

      .anticon {
        color: $star-primary;
        margin-right: 5px;
        margin-top: 4px;
      }
    }
  }
}

.slick-dots {
  bottom: -25px !important;

  li {
    button {
      background-color: $primary-rgb !important;
      &:focus,
      &:active {
        background-color: $secondary-rgb !important;
      }
    }
    &.slick-active {
      button {
        background-color: $secondary-rgb !important;
      }
    }
  }
}

@media (min-width: 600px) {
  .review-text {
    height: auto !important;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .review-text {
    height: 260px !important;
  }
}

@media (min-width: 1281px) {
  .review-text {
    height: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .review-text {
    height: 240px !important;
  }
}
