.text-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff !important;
  h1 {
    font-size: 1.5rem;
    color: #ffffff;
  }

  .features {
    font-size: 1rem;

    div {
      margin: 10px 0;

      .anticon {
        margin-right: 10px;
        font-size: 1rem;
      }
    }
  }

  .logo {
    margin-top: 1rem;
    height: auto;

    img {
      max-width: 100%;
    }
  }
}

.actions-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 0;
  .awards-row {
    margin-top: 15px;
    .progress {
      .ant-progress {
        width: 85%;
        margin-right: 10px;
      }
      .progress-text {
        text-align: right;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .apply-button,
  .contact-button {
    margin: 0.5rem;
    font-size: 1rem;

    background: "transparent";
    border-radius: 0;
    color: rgba(23, 149, 232, 1);
    border-color: rgba(23, 149, 232, 1);
  }
}

@media (max-width: 768px) {
  .text-container,
  .actions-container {
    text-align: center;
  }
}
