.ant-row {
  width: 100%;
}

.timeline-column {
  text-align: left;
  .ant-timeline-item {
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.75);
  }

  .custom-timeline-dot {
    background-color: rgba(23, 149, 232, 1); // Change to desired color
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
}

.ant-image {
  img {
    max-width: 100%;
    height: auto;
  }
}
