@import "../../variables";
.ant-row {
  width: 100%;
}

.timeline-column {
  text-align: left;
  .ant-timeline-item {
    font-size: $font-size3;
    color: $black-2;
  }

  .custom-timeline-dot {
    background-color: $secondary-rgb;
    color: $secondary-rgb;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
}
.ant-image {
  img {
    max-width: 100%;
    height: auto;
  }
}
