@import "../../variables";
.footer {
  h2 {
    color: $white-0;
    font-size: 15px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    

    li {
      margin-bottom: 0.5rem;
      cursor: pointer;

      a {
        color: $white-4;
        &:hover {
          color: $white-0;
        }
      }
    }
  }

  .social-section {
    margin-top: 2rem;
    text-align: center;
    color: $white-4;
    .logos {
      display: flex;
      justify-content: center; // Center logos horizontally
      align-items: center; // Center logos vertically
      margin: 0 auto;
      gap: 20px; // Optional: space between logos

      .logo {
        text-align: center;

        img {
          height: 50px;
          width: auto;
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }

        &.logo-right {
          p {
            margin-top: 5px;
            font-size: 14px;
          }
        }
      }
    }
    span {
      color: $white-0;
    }
    .social-links {
      .anticon {
        margin: 10px 15px;
        font-size: 25px;
        color:  $white-0;
        &:hover {
          cursor: pointer;
          color: $secondary-rgb;
        }
      }
    }
  }

  .copyright {
    margin-top: 2rem;
    text-align: center;
    color: $white-4;
  }
}
// Mobile responsiveness
@media (max-width: 768px) {
  .social-section {
    .logos {
      flex-direction: column;

      .logo-left,
      .logo-right {
        width: 100%;
      }
    }
  }
}
