@import "../../variables";

.facts-stats {
  .ant-col {
    padding: 15px 0;
  }
  .ant-statistic-title {
    font-size: $font-size4;
    font-weight: bold;
    margin-top: 10px;
    color: $black-1;
  }

  .ant-statistic-content {
    font-size: $font-size1;
    margin-bottom: 10px;
    color: $black-3;
  }

  .ant-typography {
    color: $black-4;
  }
}
