.facts-container {
  padding: 30px;
  background-color: #FFFFFF;
  text-align: center;

  .facts-header {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
  }
}

.facts-stats {
  justify-content: center;

  .ant-statistic-content {
    font-size: 24px;

    .ant-statistic-content-value-decimal {
      font-size: 18px;
    }
  }

  .ant-statistic-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
}
