// .facts-container {
//   padding: 30px;
//   background-color: #FFFFFF;
//   text-align: center;

.facts-header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}
// }

.facts-stats {
  justify-content: center;

  .ant-statistic-content {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.50);
    color: #474747;
  }

  .ant-statistic-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.88);
  }

  .ant-typography {
    color: rgba(0, 0, 0, 0.35);
    color: #737373;
  }
}
