@import "./variables";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif, 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.headerStyle {
  text-align: "center";
  color: $white-0;
  height: auto;
  padding-inline: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  border-image:  $gradient;
  border-image-slice: 1;
  background-color: $white-0;
}
.clients {
  padding: 2rem;
  text-align: center;
  background: $white-0;
}

.facts {
  padding: 2rem;
  background-color: $white-0;
  text-align: center;
}

.features {
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.course {
  text-align: center;
  background-color: $background-offset;
  padding: 2rem;
}

.reviews {
  text-align: center;
  background-color: $background-offset;
  
  padding: 2rem;
  gap: 20px;
  justify-content: center;
}

.join-now {
  background: $primary-rgb;
  background: $gradient;
  padding: 2rem;
}

.footer {
  width: 100%; 
  background-color: $black-1;
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 767px) {
  .course {
    margin: 10px;
  }

  .reviews {
    gap: 10px;
  }
}

.icon-animate:hover {
  @include rotate-icon;
}