html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif, 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.headerStyle {
  text-align: "center";
  color: "#fff";
  height: auto;
  padding-inline: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  border-image:  linear-gradient(
    90deg,
    rgba(71, 23, 157, 1) 0%,
    rgba(23, 149, 232, 1) 49%,
    rgba(71, 23, 157, 1) 100%
  );
  border-image-slice: 1;
}

.clients {
  padding: 2rem;
  text-align: center;
  background: #FFFFFF;
}

.facts {
  padding: 2rem;
  background-color: #FFFFFF;
  text-align: center;
}

.course {
  text-align: center;
  background-color: #f5f7f8;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.88);
}

.reviews {
  text-align: center;
  background-color: #f5f7f8;
  padding: 2rem;
  gap: 20px; // Spacing between cards
  justify-content: center; // Center cards for better alignment
}

.join-now {
  background: rgb(71, 23, 157);
  background: linear-gradient(
    90deg,
    rgba(71, 23, 157, 1) 0%,
    rgba(23, 149, 232, 1) 49%,
    rgba(71, 23, 157, 1) 100%
  );
  padding: 2rem;
}

.footer {
  width: 100%;  // Making sure it spans the full width
  background-color: #333;
  padding: 2rem 0; // Adding vertical padding for better design
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 767px) {
  .course {
    margin: 10px;
  }

  .reviews {
    gap: 10px;
  }
}