html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif, 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.headerStyle {
  text-align: "center";
  color: "#fff";
  height: auto;
  padding-inline: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  border-image:  linear-gradient(
    90deg,
    rgba(71, 23, 157, 1) 0%,
    rgba(23, 149, 232, 1) 49%,
    rgba(71, 23, 157, 1) 100%
  );
  border-image-slice: 1;
}

.contentStyle {
  text-align: center;
  min-height: 120;
  list-style: 120px;
  color: #fff;
  background-color: "#108ee9";
}

.footerStyle {
  padding: 0;
}

.clients {
  padding: 2rem;
  justify-content: center;
  background: #FFFFFF;
}

.course {
    text-align: center;
    background-color: #f5f7f8;
    padding: 20px;
    color: rgba(0, 0, 0, 0.88);
}

@media (max-width: 767px) {
  .course {
    margin: 10px;
  }
}